<p>Here at Not Another Social Site we believe in sharing your life using the same old
	boring worn out manner as every other site in the world!  If your used to facebook,
	twitter, and myspace then here is another site to add to your repertoire for extreme
	time wasting!!!!!</p>